<div class="author-info">
  <p class="author">
    <span class="author-name"><%= message.person.name %></span>
    <span class="time-info"><%= message.created_at.strftime("%b %d, %Y %H:%M") %></span>
  </p>
</div>
