<div class="row-fluid message-child">
  <div class="span1">
    <img src="<%= message.person.gravatar %>" style="width: 48px; height: 48px;" />
  </div>

  <div class="span8">
    <%= message.body %>

    <%= erb :_author, :locals => { :message => message }, :layout => false %>
  </div>
</div>
