<div class="row">
  <div class="span12 pagination-centered">
    <img src="/spinner.gif" class="hide" id="spinner" style="width: 48px; height: 48px" />
  </div>

  <% if logged_in? %>
    <div class="span12">
      <form action="<%= url("/#{params[:subdomain]}/message") %>" id="message" method="post">
        <textarea rows="4" placeholder="Enter your message..." name="body" class="input-block-level"></textarea>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  <% end %>
</div>
