<form action="<%= url("/#{params[:subdomain]}/message") %>" id="message" method="post">
  <textarea rows="8" placeholder="Enter your message using markdown..." name="body" class="input-block-level"></textarea>
  <input type="hidden" name="parent_id" id="parent-id" />

  <div id="preview-area" class="hide">
    <button type="button" class="close">&times;</button>
    <div></div>
  </div>

  <div id="replying" class="hide alert">
    <button title="Post a top-level message" type="button" class="close">&times;</button>
    <span></span>
  </div>

  <button type="submit" class="btn">Submit</button>
  <button class="btn btn-inverse" id="preview" data-action="<%= url("/#{params[:subdomain]}/preview") %>">Preview</button>
</form>
