<% @person = Person.new(:email => "primdahl@me.com", :name => "John McMuffin III") %>

<div class="row">
  <div class="span2">
    <img src="<%= @person.gravatar %>" />
  </div>
  <div class="span10">
    <strong><%= @person.name %> 4:30pm PST</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor felis leo. Suspendisse lobortis justo in ligula euismod scelerisque. Nullam consequat, neque at faucibus porttitor, ante tortor condimentum urna, ut tempor risus nunc a purus. Nulla at augue mauris, et congue metus. In hac habitasse platea dictumst. Donec quis lectus magna, et bibendum mauris. Nulla eget sagittis metus. Sed mi lectus, placerat at accumsan non, dictum iaculis lacus. Cras lectus nisi, eleifend non ultricies eget, pretium et urna. Nulla scelerisque, justo eget facilisis imperdiet, turpis quam tristique purus, et gravida velit diam eget sem. Pellentesque sodales massa gravida massa feugiat vestibulum. Quisque et libero tortor. Nunc nisl enim, aliquam ac euismod at, euismod in quam. Donec nec odio urna.
  </div>
</div>


