.message-body {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #78a300;
}

.message {
  border-style: solid;
  border-width: 1px;
  border-color: #78a300;
  padding: 5px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background-color: #F0F0F0;

  margin-bottom: 5px;
}

.message-child {
  border-left-style: solid;
  border-width: 1px;
  border-color: #78a300;

  padding-left: 10px;
  padding-bottom: 5px;

  margin-left: -10px;
}

.children {
  margin-top: 10px;
}

textarea {
  background-color: #F0F0F0;
}

textarea:focus {
  border-color: #78a300;
  box-shadow: 0 0 5px #78a300;
}

.author-info {
  background-color: #dcdcdc;
  padding: 5px;
  height: 30px;
  margin-bottom: 10px;
}

.author-info .author {
  line-height: 30px;
  margin: auto 0 auto 0;
}

.author-info .time-info {
  float: right;
  padding-top: 5px;
  font-size: 10px;
}

.author-info .actions {
  float: right;
}

.info-box {
  background-color: #F0F0F0;

  border-style: solid;
  border-width: 1px;
  border-color: #78a300;
  padding: 5px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.info-box:first-of-type {
  margin-bottom: 10px;
}

.info-box h4 {
  margin: 0;
  line-height: 30px;
}

#markdown-reference div.content > div > :first-child {
  margin: 0;
  float: right;
}

#markdown-reference div.content > div {
  padding: 5px;
  border-bottom-style: dotted;
  border-width: 1px;
}

#markdown-reference div.content > div:last-child {
  border-bottom-style: none;
}

#markdown-reference p {
  margin: 0;
}

.toggle {
  float: right;
}

#preview-area {
  background-color: #F0F0F0;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  margin-bottom: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: #434343;
}

#preview-area div { padding: 10px; }
#preview-area button { padding-right: 5px; }

#replying {
  float: right;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
}

.most-liked-message {
  margin-bottom: 5px;
}

.most-liked-author {
  text-align: right;
}
