body {
  background: url('images/master-bg2.png');
}

#sidebar,
#messages {
  background: #FFF;
  padding: 16px;
}

#messages {
  padding-top: 1px;
}

#message {
  margin-bottom: 20px;
}

.submit-buttons {
  margin-top: 20px;
}

.message-body {
  border-bottom: 1px dotted #DDD;
  margin-left: 10px;
}

.icon-heart {
  color: #78a300;
}

.message {
  border-top: 1px dotted #DDD;
  margin-bottom: 10px;
  padding-top: 20px;
}

.message:first-child {
  border-top: none;
}

.message-child {
  border-left-style: solid;
  border-width: 1px;
  border-color: #78a300;

  padding-left: 10px;
  padding-bottom: 5px;

  margin-left: -10px;
}

.children {
  margin-top: 10px;
}

.gravatar {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

textarea {
  background-color: #FFF;
  border: 1px solid #d3d3d3;
  background-image: linear-gradient(#fafafa,#ffffff);
  border-radius: 3px;
  color: #555;
  width: 100%;
}

.author-info {
  background-color: #f8f8f8;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 12px;
}

.author-info .author {
  line-height: 30px;
  margin: auto 0 auto 0;
  color: #777;
}

.author-info .time-info {
  padding-right: 10px;
}

.author-info .actions {
  float: right;
}

.actions .btn,
.info-box .btn {
  font-size: 11px;
  border: 1px solid #ddd;
  background: #f7f7f7;
  color: #333;
  font-weight: normal;
}

.actions .btn:hover,
.info-box .btn:hover {
  border: 1px solid #555;
  background: #555;
  color: #FFF;
}


.info-box {
  background-color: #FFF;
  border: 1px solid #d3d3d3;
  background-image: linear-gradient(#fafafa,#ffffff);
  color: #555;
  padding: 5px;
  border-radius: 3px;
}

.info-box:first-of-type {
  margin-bottom: 10px;
}

.info-box h4 {
  margin: 0;
  line-height: 30px;
}

#markdown-reference div.content > div > :first-child {
  margin: 0;
  float: right;
}

#markdown-reference div.content > div {
  padding: 5px;
  border-bottom-style: dotted;
  border-width: 1px;
}

#markdown-reference div.content > div:last-child {
  border-bottom-style: none;
}

#markdown-reference p {
  margin: 0;
}

.toggle {
  float: right;
}

#preview-area {
  background-color: #F0F0F0;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  margin-bottom: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: #434343;
}

#preview-area div { padding: 10px; }
#preview-area button { padding-right: 5px; }

#replying {
  float: right;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
}

.most-liked-message {
  margin-bottom: 5px;
}

.most-liked-author {
  text-align: right;
}
